@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton+SC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primarycolor: #121111;
    --fontcolor: #E4E4E4;
}

/*Definições e classes gerais*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--fontcolor);
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background: var(--primarycolor);
}

.center {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

/*Fim das definições e classes gerais*/


/* Estilizando cabeçalho */
header {
    padding: 30px 0;
    background-color: var(--primarycolor);
}

nav {
    width: 100%;
    padding: 0 2%;
    justify-content: space-between;
}

.logo>h2 {
    color: var(--fontcolor);
    font-size: 29px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.menu-mobile {
    display: none;
    border: 2px solid var(--fontcolor);
    background-color: var(--primarycolor);
    border-radius: 5px;
    width: 33px;
    height: 33px;
    cursor: pointer;
}

.menu-mobile>img {
    width: 23px;
    height: 23px;
}

.menu>ul {
    gap: 20px;
    list-style: none;
}

.menu>ul a {
    text-decoration: none;
    padding: 5px 7px;
    border: 2px solid var(--fontcolor);
    color: var(--fontcolor);
    font-size: 14px;
    border-radius: 20px;
    transition: 0.3s;

    &:hover {
        background-color: #ffffff;
        color: #000;
        border-color: #ffffff;
    }
}

/* Fim do cabeçalho */

/* Estilizando sessão de apresentação */
.apresentacao {
    color: var(--fontcolor);
    margin: 120px auto;
    padding: 0 3%;
    justify-content: space-between;
    gap: 20px;
}

.texto-apresentacao,
.texto-apresentacao2 {
    max-width: 350px;
}

.texto-apresentacao>span {
    color: #716868;
    text-transform: uppercase;
}

.texto-apresentacao>h3 {
    font-size: 65px;
    transform: translateY(-20px);
}

.arruda {
    transform: translateY(-55px) !important;
}

.img {
    width: 400px;
    height: 400px;
    border: 2px solid purple;
    border-radius: 20px;
    transform: translateX(10px);
}

.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Fim da sessão de apresentação */

/* Estilizando sessão de projetos */

.projetos {
    width: 100%;
    padding: 50px 2%;
    background-color: #000;
    flex-direction: column;
    gap: 55px;
}

.projetos-title {
    width: 100%;
    justify-content: center;
}

.projetos-title>h2 {
    text-transform: uppercase;
}

.container-cards,
.container-sobre {
    max-width: 1320px;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.container-cards {
    gap: 35px !important;
}

.container-sobre {
    align-items: baseline;
}

.card {
    width: 300px;
    height: 450px;
    border: 2px solid var(--fontcolor);
    border-radius: 7px;
    flex-direction: column;
    gap: 10px;
    transition: 0.4s;
    padding-bottom: 10px;

    &:hover {
        transform: translateY(-20px);
    }
}

.header-card {
    width: 100%;
    background-color: var(--fontcolor);
    text-align: center;
    padding: 25px 0;
    position: relative;
}

.pointer {
    width: 22px;
    position: absolute;
}

.pointer1 {
    right: 23%;
    bottom: 9px;
}

.pointer2 {
    right: 18%;
    bottom: 9px;
}

.pointer3 {
    right: 30%;
}

.header-card>a>h4 {
    color: var(--primarycolor);
    text-transform: uppercase;
    text-decoration: underline;
}

.card-img {
    width: 95%;
    height: 170px;
    border: 2px solid white;
    border-radius: 6px;
}

.card-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.card-descri {
    width: 95%;
    padding: 0 3%;
    max-height: 200px;
    overflow-y: scroll;
}

.card-descri::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

.card-descri::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 5px;
}

.card-descri::-webkit-scrollbar-thumb {
    background: var(--fontcolor);
    border-radius: 5px;
    transition: 0.1s;
    cursor: pointer;
}

.card-descri::-webkit-scrollbar-thumb:hover {
    border-radius: 0px;
    background: #d7d5d5;
}

.card-descri>p {
    text-align: justify;
}

/* Fim da sessão de projetos */

/* Estilizando sessão 'sobre' */
.sobre {
    width: 100%;
    padding: 40px 2%;
    flex-direction: column;
    gap: 30px;
}

.skills {
    flex-direction: column;
    gap: 8px;
}

.skills-tec {
    gap: 7px;
    flex-wrap: wrap;
    justify-content: center;
}

.objetivo {
    max-width: 300px;
    flex-direction: column;
    gap: 8px;
}

.objetivo>p {
    text-align: justify;
}

/* Fim da sessão 'sobre' */

/* Estilizando sessão 'contato' */
.contato {
    padding: 40px 2%;
    background-color: #000;
}

.formulario {
    margin: 0 auto;
    width: 60%;
    padding: 20px 2%;
    text-align: center;
}

form {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

.form-item {
    position: relative;
    width: 100%;
}

.form-item>label {
    position: absolute;
    left: 20px;
    bottom: 13px;
    padding: 0px 5px;
    transition: 0.3s;
    pointer-events: none;
    background: #000;
    cursor: pointer;
}

.form-item>input,
textarea {
    padding: 12px 10px 12px 20px;
    width: 100%;
    color: var(--fontcolor);
    border: 2px solid var(--fontcolor);
    border-radius: 6px;
    background-color: #000;
    outline: none;
}

.input-text:focus+label,
.input-text:valid+label {
    bottom: 37px;
    font-size: 14px;
    color: rgb(143, 5, 143);
}

textarea {
    width: 100%;
    padding: 10px 12px;
    height: 200px;
    resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #000 inset !important;
    -webkit-text-fill-color: var(--fontcolor) !important;
}

.custom-button {
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 1;
}

.custom-button::before {
    background-color: #ff0000;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

.custom-button:hover::before {
    transform: translate(0, 0);
}

/* Fim da sessão 'contato' */

/* Estilizando rodapé */
footer {
    padding: 30px 0;
    text-align: center;
}

.redes-container {
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.redes-item>a>img {
    width: 60px;
}

footer>p {
    color: rgb(88, 85, 85);
    padding-top: 40px;
}

/* Fim do rodapé */


@media (width <=1100px) {
    .apresentacao {
        flex-direction: column;
        justify-content: center;
        margin: 20px auto;
    }

    .img {
        transform: translateX(0px);
        width: 65%;
        height: 400px;
    }
}

@media (width <=665px) {
    .img {
        width: 90%;
    }
}

@media (width <=600px) {
    .formulario {
        width: 95%;
    }
}

@media (width <=500px) {
    .menu {
        width: 0px;
        height: 80vh;
        position: absolute;
        top: 90px;
        padding: 10px 0;
        right: 0;
        background-color: var(--primarycolor);
        z-index: 100000;
        visibility: hidden;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    .menu>ul {
        display: flex;
        flex-direction: column;
    }

    .menu-mobile {
        display: flex;
        justify-content: center;
    }

    .open {
        width: 100%;
        visibility: visible;
        overflow-y: auto;
    }

    footer>p {
        font-size: 12px;
    }
}

@media (width <=400px) {
    .redes-item>a>img {
        width: 35px;
    }
}

@media (width <=360px) {
    .texto-apresentacao {
        width: 100%;
        padding-left: 4%;
    }

    .texto-apresentacao>h3 {
        font-size: 40px;
        transform: translateY(0px);
    }

    .arruda {
        transform: translateY(-16px) !important;
    }

    .img {
        height: 320px;
    }
}
