@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Passion One', sans-serif;
    font-size: 40px;
    color: #dbe8db;
}

.contatct-info {
    background-color: #000000;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

.contact-info h2 {
    color: #dcd2d1;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
}

.contact-info p {
    margin: 5px 0;
    font-family: 'Inter', sans-serif;
}

div.nav-list {
    margin-top: 40px;
}

div.nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(216, 206, 206);
    display: block;
    margin: 15px 0;
    font-size: 20px;
}

div.nav-list a:hover {
    color: white;
}