@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
}

nav.nav-list {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 0 auto;
    padding: 45px;
    align-items: center;
}

nav.nav-list .logo h2 {
    font-family: 'Passion One', sans-serif;
    color: rgb(238, 226, 226);
    font-size: 33px;
}

nav.nav-list .logo h2:hover {
    color: white;
}

nav.nav-list ul {
    display: flex;
    gap: 15px;
}

nav.nav-list ul li {
    list-style: none;
}

nav.nav-list ul li a {
    text-decoration: none;
    color: rgb(216, 206, 206);
    text-transform: uppercase;
    font-size: 16px;
}

nav.nav-list ul li a:hover {
    color: white;
}

div.container {
    width: 100%;
    padding: 30px 0;
    margin: 60px auto;
    align-items: center;
    display: flex;
}

div.container-item {
    width: 33.3%;
    display: flex;
    padding-bottom: 40px;
    position: relative;
    margin-left: 15px;

}

div.container-item video {
    width: 95%;

}


div.container-item p {
    color: #ffffff;
    text-align: center;
    font-family: 'inter', sans-serif;
    position: absolute;
    bottom: 0;
    width: 95%;
}

@media screen and (max-width: 900px) {

    nav.nav-list {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    nav.nav-list ul {
        display: none;
    }

    div.container {
        padding: 0;
        margin: 20px auto;
        display: block;
    }

    div.container-item {
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
        margin-top: 30px;
        margin-left: 0;
    }

    div.container-item video {
        width: 95%;
        display: block;
    }
}